/* 初始化 */
body, div, ul, li, span, a, i {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    font-style: inherit;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clf::after {
    display: block;
    content: '';
    height: 0;
    visibility: hidden;
    clear: both;
    opacity: 0;
}

.inline {
    height: 100%;
    display: inline-block;
}

.scroll {
    overflow-y: scroll;
}

/* 公用 */
.container {
    min-width: 1340px;
    background-color: #fff;
    padding: 30px 10px;
}

.title {
    position: relative;
    height: 40px;
}

.point {
    width: 10px;
    height: 10px;
    background-color: #169bd5;
    border-radius: 50%;
    margin-top: 6px;
}

.tit-text {
    font-size: 24px;
    color: #333;
    margin-left: 14px;
    line-height: 22px;
}

.more {
    cursor: pointer;
}

.more-icon {
    width: 10px;
    height: 1px;
    margin: 21px 0 0 6px;
    position: relative;
}

.more-icon span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform-origin: right;
    transform: rotate(18deg);
}

.more-icon span:last-child {
    transform: rotate(-18deg);
}


/* 待处理 */
.bg-empty {
    width: 100%;
    height: 40px;
}

.bg-color {
    background-color: #f2f2f2;
}

.pending {
    width: 48%;
}

.padding-layer {
    padding: 0 20px 0 20px;
}

.pending-head {
    height: 40px;
    background-color: #eb6709;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.pending .title {
    margin: 10px 0 0 20px;
}

.pending-content {
    height: 361px;
    padding: 20px;
    border: 1px solid #eb6709;
    overflow-y: scroll;
}

.pending-list {
    display: flex;
    font-size: 12px;
}

.pending-list .date-box {
    position: relative;
    width: 50px;
}

.pending-list .date {
    position: absolute;
    top: 0;
    left: 50%;
    width: 40px;
    height: 20px;
    text-align: center;
    color: #268e3c;
    transform: translate(-50%, -8px)
}

.order-box {
    flex-grow: 1;
    margin-left: 10px;
    padding: 10px 0 10px 20px;
    border-left: 1px solid #268e3c;
    position: relative;
    display: flex;
}

.order-group {
    width: 100%;
}

.order-child {
    display: flex;
    margin-bottom: 10px;
}

.order-box .order-child:last-child {
    margin: 0;
}

.order-l {
    display: flex;
}

.order-date {
    width: 120px;
    color: #999;
}

.order-text {
    width: 430px;
    margin-left: 10px;
    color: #268e3c;
}

.order-state {
    flex: 1;
    text-align: right;
    color: #f00;
}

.order-box .point {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #268e3c;
    transform: translate(-50%, -50%);
    margin-top: 0;
}

.order-box .point-start {
    top: inherit;
    bottom: 0;
    transform: translate(-50%, 50%);
    margin-top: 0;
    display: none;
}

.pending-list:last-child .point-start {
    display: block;
}

.order-box .line {
    position: absolute;
    top: 0;
    left: 30px;
    height: 1px;
    width: 80%;
    background-color: #fff;
}

.order-child.finish .order-date,
.order-child.finish .order-text,
.order-child.finish .order-state {
    color: #999;
}


/* 快捷入口 */
.quick-entry {
    width: 52%;
    height: 403px;
}

.quick-entry .padding-layer {
    padding: 0 20px 0 0;
}

.quick-entry .title {
    margin: 10px 0 0 0;
}

.quick-box {
    border: 1px solid #eb6709;
    height: 403px;
    overflow-y: scroll;
}

.quick-nav {
    width: 40px;
    height: 80px;
    background-color: #eb6709;
    font-size: 14px;
    color: #fff;
    padding: 20px 4px;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
}

.quick-list:last-child .quick-nav,
.quick-list:last-child .quick-content {
    border-bottom: none;
}

.quick-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    width: calc(100% - 40px);
    height: 80px;
    border-bottom: 1px solid #fff;
    padding: 8px 20px 8px;
    overflow: hidden;
}

.quick-child {
    width: 138px;
    height: 26px;
    border: 1px solid #359549;
    font-size: 12px;
    color: #359549;
    line-height: 25px;
    text-align: center;
    margin-right: 18px;
}

.quick-child .more-icon {
    margin: 12px 0 0 5px;
}

.quick-child .more-icon span {
    background-color: #359549;
}


/* 产品销量 */
.sales-volume-wrap {
    margin-top: 30px;
    padding: 0 20px;
}

.bg-box {
    background-color: #fff;
    padding-top: 10px;
}

.sales-volume {
    width: 100%;
    border: 1px solid #2782d7;
}

.sales-volume-head {
    height: 40px;
    background-color: #2782d7;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.sales-volume-content {
    padding: 20px 0;
}

.sales-volume-list {
    margin-bottom: 20px;
}

.sales-volume-list-head {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #2782d7;
    padding-left: 100px;
    position: relative;
}

.sales-volume-list-head .BDD {
    font-size: 18px;
    font-weight: bold;
}

.sales-volume-list-head .color {
    font-weight: normal;
    color: #999;
    font-size: 12px;
    margin-left: 10px;
}

.sales-volume-list-head .more {
    position: absolute;
    right: 12px;
    top: 0;
    color: #999;
}

.sales-chart {
    position: relative;
    padding-right: 30px;
    margin-top: 10px;
}

.sales-chart-list {
    display: flex;
    height: 20px;
    margin-bottom: 14px;
    line-height: 20px;
    font-size: 12px;
}

.sales-chart-list .type {
    width: 80px;
    text-align: center;
    text-decoration: underline;
    color: #f3a167;
}

.sales-chart-list .bar-box {
    width: 208px;
}

.bar {
    width: 180px;
    height: 100%;
    background-color: #f3a167;
    text-align: center;
    color: #fff;
}

.percent {
    margin-left: 22px;
}

.line-a {
    position: absolute;
    top: 0;
    left: 80px;
    width: 2px;
    height: 100%;
    background-color: #f3a167;
}

.line-b {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 70%;
    background-color: #f3a167;
    transform: translateY(-50%) scaleX(0.5);
}

.sales-volume-list:nth-child(4n) .line-b {
    background-color: transparent;
}


/* 库存汇总 */
.inventory-wrap {
    margin-top: 30px;
    padding: 0 20px;
}

.inventory {
    width: 100%;
    border: 1px solid #268e3c;
}

.inventory-head {
    height: 40px;
    background-color: #268e3c;
    padding: 0 20px;
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}

.inventory-content .flex {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.inventory-list {
    width: 220px;
    height: 200px;
    margin-bottom: 20px;
    font-size: 12px;
    padding: 30px 0;
}

.inventory-list .bg-color {
    width: 80px;
    height: 80px;
    background-color: #e4e4e4;
    border-radius: 50%;
    text-align: center;
}

.inventory-list .type {
    font-size: 12px;
    color: #e9650c;
    margin-top: 18px;
    font-weight: bold;
}

.inventory-list .color-blue {
    color: #268e3c;
}

.inventory-list .color-gray {
    color: #999;
}

.inventory-list .num {
    font-size: 18px;
    color: #e9650c;
    font-weight: bold;
}

.inventory-list .font-12 {
    font-size: 12px;
    margin-left: 2px;
}

.detail {
    width: 140px;
    margin: 30px 0 0 -10px;
}

.detail .tit {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    color: #33a54c;
    font-weight: bold;
}

.detail ul {
    height: 120px;
    margin-top: 16px;
}

.detail li {
    display: flex;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    color: #ee9b5f;
}

.kind {
    width: 66px;
    text-align: right;
    font-weight: bold;
}

.kind-num {
    width: 80px;
    text-align: left;
    margin-left: 14px;
    overflow: hidden;
}

.width-110 .kind {
    width: 110px;
}